
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Permanent+Marker&family=Tangerine:wght@700&display=swap');

.Header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 1px 1px 2px 5px rgba(0 0 0 0.5);

}

header :link {
    text-decoration: none;
    color: red;
    font-family: merriweather;
    font-size: 1rem;
    font-weight: bold;
}

h1 {
    color: black;
    /* font-family: fantasy; */
    font-size: 2rem;
}

.HeaderLink {
    list-style: none;
    margin-right: 8px;
}
