
div.SearchContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


/*  conatiner styling */

div.SearchContainer div.FormContainer {
    border-style: solid;
    border-color: #8E7A3D;
    border-width: 2px;
    padding: 20px;
    background-color: #D7B957;
    border-radius: 15px;
}

div.SearchContainer div.SearchOptionsContainer {
    display: flex;
    flex-direction: column;
}

div.SearchContainer div.SubmitButtonContainer {
    display: flex;
    justify-content: center;
}

div.SearchContainer section.SearchOptionSection {
    display: flex;
    flex-direction: column;
}

div.SearchContainer h3.fontTitles {
    color: #582E44;
}



