@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Permanent+Marker&family=Tangerine:wght@700&display=swap');

*{
  box-sizing: border-box;
  font-family: Merriweather;
}


body {
  padding: 20px;
}

