.DetailedHeaderText{
    color: #FFFBDB;
    padding-bottom: 0;
}

.DetailedItemText{
    color: #FFFBDB;
    font-size: .75rem;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

.DetailedItemWrapperImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 16vh auto;
    height: 400px;
    max-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 500px;
    animation: FadeIn 1s;
    box-shadow: 2px 2px 8px 1px rgba(55, 50, 62, .5);
    position: relative;
    background-position: bottom;
}

.DetailedItemInfoBit{
    font-size: 1rem;
}

.DetailedItemWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    background: rgba(55, 50, 62, 0.8);
    width: 80vw;
    max-width: 400px;
    max-height: 1800px;
    border-radius: 5px;
    transition: all 1s;
    position: relative;
    padding-top: 10px;
    backdrop-filter: blur(.05rem);
}

.DetailedItemImageAndTitleWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.HiddenImage{
    display: none;
}

.DetailsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.DetailedItemInfoWrapper, .DetailedItemBubbleWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2px 0;
}

.DetailedNumberBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #37323E;
    color: #FFFBDB;
    text-align: center;
    font-size: .90rem;
}

.DetailedItemHealthLabels {
    margin: 5px 8px;
}

.DetailedItemDietLabels, .DetailedItemIngredients {
    display: flex;
    margin: 5px 8px;
    height: 28px;
    min-height: 28px;
    max-height: 500px;
    overflow: hidden;
    
}

.Accordion {
    cursor: pointer;
    transition: 0.7s;
}

div.DetailedItemWrapperImage button.backButton {
    border-style: solid;
    border-color: #8D80AD;
    color: #8D80AD;
    padding: 5px;
    width: 50px;
    border-width: 3px;
    border-radius: 5px;
    background: none;
    transition: all .3s;
    
}

div.DetailedItemWrapperImage button.backButton:hover {
    background-color: #8D80AD;
    color: #FFFBDB;
    cursor: pointer;

}

.DetailedItemDietLabels:hover, .DetailedItemIngredients:hover {
    /* overflow:visible; */
    /* animation-duration: 1s;
    animation: addHeight; */
    /* height: auto; */
    /* height: 28px; */
    /* min-height: 28px; */
    /* max-height: 0; */
}


/* @keyframes addHeight{
    from {
        padding-bottom: 0px;
    } to {
        padding-bottom: 200px;
    }

} */

.DetailedItemFooter {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    padding: 8px 10px;
}

.DetailedRecipeButton {
    text-decoration: none;
    color: #FFFBDB;
    margin-bottom: 5px;
    background: #8D80AD;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.DetailedRecipeButton:hover {
    background:rgba(144, 81, 102);
}

.DetailedItemfavoriteIcon {
    cursor: pointer;
    /* position: absolute;
    right: 3%; */
}




/* TEST */
/* .Reflection {
    position:absolute;
    bottom: 0;
    height: 400px;
}

.Reflection::after {
    content:"";
    background-image: inherit;
    width: inherit;
    height: 50%;
    position: absolute;
    bottom: -51%;
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.5;
}

.Reflection::before {
    content: "";
    width: inherit;
    height: 52%;
    position: absolute;
    bottom: -52%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2),white);
    z-index: 1;
} */

@media only screen and (min-width: 600px) {
    .DetailedItemWrapperImage {
        border-radius: 5px;
    }
}
